<h1>Transactions</h1>
<p>Click on headers to sort the table</p>
<table>
    <tr>
        <th (click)="sort('id')">id</th>
        <th (click)="sort('amount')">amount</th>
        <th (click)="sort('balance')">balance</th>
        <th (click)="sort('label')">label</th>
        <th (click)="sort('date')">date</th>
    </tr>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td><a routerLink="/detail/:{{transaction.id}}'">{{transaction.id}}</a></td>
            <td><a routerLink="/detail/:{{transaction.id}}'">{{transaction.amount}}</a></td>
            <td><a routerLink="/detail/:{{transaction.id}}'">{{transaction.balance}}</a></td>
            <td><a routerLink="/detail/:{{transaction.id}}'">{{transaction.label}}</a></td>
            <td><a routerLink="/detail/:{{transaction.id}}'">{{transaction.date}}</a></td>
        </tr>
    </tbody>
</table>


